
<style>
    .card {
        height: 100%;
    }
</style>


{{#each stations}}

<div class="content box">
    <h1 class="title">
        {{name}}
    </h1>

    <div class="columns">

        <div class="column is-one-fifth">

            <div class="card cards">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>{{name}}</h2>
                        Lat: {{latitude}} <br>
                        Lng: {{longitude}}
                    </div>
                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Weather</h2>
                        {{weatherCodeDecrypted}}
                    </div>
                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Temp</h2>
                        {{temperature}} C <br>
                        {{temperatureInF}} F <br>
                        Min: {{minMaxStats.minTemperature}} <br>
                        Max: {{minMaxStats.maxTemperature}} 
                    </div>
                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Wind</h2>
                        {{windBft}} bft
                        ({{windBftLabel}}) <br>
                        {{windDirection}} <br>
                        Feels like: {{windChill}} <br>
                        Min: {{minMaxStats.minWindSpeed}} <br>
                        Max: {{minMaxStats.maxWindSpeed}}
                    </div>
                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Pressure</h2>
                        {{pressure}} hpa <br>
                        Min: {{minMaxStats.minPressure}} hpa<br>
                        Max: {{minMaxStats.maxPressure}} hpa
                    </div>
                </div>
            </div>

        </div>

    </div>
    <a href="/station/{{_id}}" class="button">
        {{>icons/open}}
    </a>
    <a href="/dashboard/deleteplaylist/{{_id}}" class="button">
        {{>icons/delete}}
    </a>
</div>
{{/each}}