
<style>
    .card {
        height: 100%;
    }
</style>

{{>menu}}
<section class="section">
  <div class="title">
    {{station.name}}
  </div>

  <div class="content box">
    <h1 class="title">
      {{name}}
      </h1>

    
    <div class="columns">

        <div class="column is-one-fifth">

            <div class="card" >
                <div class="card-content">

                    <div class="content has-text-centered">
                        <h2> {{station.name}}</h2>
                      Lat: {{station.latitude}} <br>
                      Lng: {{station.longitude}}
                    </div>

                </div>
            
            </div>
 
        </div>
   

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">

                    <div class="content has-text-centered">
                        <h2>Weather</h2>
                      {{latestReading.weatherCodeDecrypted}}
                      
                    </div>

                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">

                    <div class="content has-text-centered">
                        <h2>Temp</h2>
                       {{latestReading.temperature}} C <br>
                      {{latestReading.temperatureInF}} F <br>
                      Min: {{minMaxStats.minTemperature}} <br>
                      Max: {{minMaxStats.maxTemperature}} 
                    </div>

                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">

                    <div class="content has-text-centered">
                        <h2>Wind</h2>
                       {{latestReading.windBft}} bft 
                       ({{latestReading.windBftLabel}}) <br>
                       {{latestReading.windDirection}} <br>
                       Feels like: {{latestReading.windChill}} <br>
                       Min: {{minMaxStats.minWindSpeed}} <br>
                       Max: {{minMaxStats.maxWindSpeed}}
                    </div>

                </div>
            </div>

        </div>

        <div class="column is-one-fifth">

            <div class="card">
                <div class="card-content">

                    <div class="content has-text-centered">
                        <h2>Pressure</h2>
                       {{latestReading.pressure}} hpa <br>
                      Min: {{minMaxStats.minPressure}} hpa <br>
                      Max: {{minMaxStats.maxPressure}} hpa
                    </div>

                </div>
            </div>

        </div>

    </div>
  </div>
  {{> list-readings}}
  {{> add-reading}}

  
</section>